
# VS Code settings and tests
.vscode/**
.vscode-test/**

# Git and CI
.gitignore
.gitattributes
.gitflow
.github/**

# Build artifacts
*.vsix
*.map
Makefile
.markdownlint.json

# Source and configs
src/**
tsconfig.json
tsconfig.tsbuildinfo

# Node modules (exclude all except production dependencies)
node_modules/**
!node_modules/better-sqlite3/**
!node_modules/bindings/**
!node_modules/file-uri-to-path/**

# Exceptions for assets
!resources/**
!images/**
